<a href="https://colab.research.google.com/github/Jorge-742/TalenTech_Exercise_Practice/blob/main/Laboratorio_9_calidad_y_verificacion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Laboratorio 9.

In [ ]:
import pandas as pd


**Parte 1.**

**Ejercicio de práctica 1.**

Aseguramiento de la Calidad de los Datos
1. Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario y fecha de ingreso. Se requiere implementar algunos pasos de aseguramiento de la calidad de los datos, como la verificación de valores faltantes y la validación de formatos de datos.

- Se requiere:
1. Identificar y contar los valores faltantes en cada columna.
2. Verificar el formato de la columna 'Salario' para asegurar que todos los valores
sean numéricos.
3. Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.

In [ ]:
# Datos

data = {'Nombre': ['Juan','Ana', 'Pedro', 'María','Luis','Ana'],
        'Edad': [28, 34, None, 45, 38, 34],
        'Salario' : [3000, 4000, 'cinco mil', 4500, 4000, 5000],
        'Fecha Ingreso' : ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20',
'2020-03-12'
]}

df = pd.DataFrame(data)
print(df)

  Nombre  Edad    Salario Fecha Ingreso
0   Juan  28.0       3000    2021-01-15
1    Ana  34.0       4000    2020/03/12
2  Pedro   NaN  cinco mil    2022-07-01
3  María  45.0       4500    2021/12/01
4   Luis  38.0       4000    2021-05-20
5    Ana  34.0       5000    2020-03-12

In [ ]:
# 1. Identificación y conteo de valores faltantes en cada columna
print('\n Identificación de valor faltante por columna')
valores_faltantes = df.isnull().sum()
print(valores_faltantes)


# Verificación del formato de la columna salario

df['Salario'] = df['Salario'].astype(str)
salario_incorrecto = df[~df['Salario'].str.replace('[^0-9.]', '', regex=True).str.isdigit()]
print('\nSalarios con formato incorrecto:')
print(salario_incorrecto)

# Verificación y estandarización de formato de fecha.
df['Fecha Ingreso'] = pd.to_datetime(df['Fecha Ingreso'], errors='coerce', format='%Y-%m-%d')
print('\nDatos después de la estandarización de formato de fecha')
print(df)

 Identificación de valor faltante por columna
Nombre           0
Edad             1
Salario          0
Fecha Ingreso    0
dtype: int64

Salarios con formato incorrecto:
  Nombre  Edad    Salario Fecha Ingreso
2  Pedro   NaN  cinco mil    2022-07-01

Datos después de la estandarización de formato de fecha
  Nombre  Edad    Salario Fecha Ingreso
0   Juan  28.0       3000    2021-01-15
1    Ana  34.0       4000           NaT
2  Pedro   NaN  cinco mil    2022-07-01
3  María  45.0       4500           NaT
4   Luis  38.0       4000    2021-05-20
5    Ana  34.0       5000    2020-03-12



---

**Ejercicio 2.**
- Se tiene un conjunto de datos sobre empleados que incluye su nombre, edad, salario, puesto de trabajo y fecha de ingreso. Se requiere implementar aseguramiento de la calidad de los datos, verificando la completitud de los datos, la validez de los salarios y la consistencia de las fechas de ingreso.

Se requiere:
1. Identificar y contar los valores faltantes en cada columna.
2. Verificar el formato de la columna "Salario" para asegurarse de que todos los
valores sean numéricos.
3. Validar y estandarizar el formato de la columna "FechaIngreso" a YYYY-MM-DD.
4. Verificar que no haya valores faltantes en la columna "Cargo"

In [ ]:
# Datos

datos =  {'Nombre': ['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
       'Edad': [28, None, 40, 45, 38, 34],
       'Salario': ['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
       'Cargo': ['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
       'Fecha Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']}

df2 = pd.DataFrame(datos)
print(df)

  Nombre  Edad     Salario          Cargo Fecha Ingreso
0   Juan  28.0        3000       Analista    2021-01-15
1    Ana   NaN        4000        Gerente    2020/03/12
2  Pedro  40.0        4500  Desarrollador    2022-07-01
3  María  45.0  cuatro mil        Gerente    2021/12/01
4   Luis  38.0        5000       Analista          None
5  Carla  34.0        4000           None    2020-03-12

In [ ]:
# Identificación valores faltantes en cada columna
valores_faltantes = df2.isnull().sum()
print('\n Identificación de valor faltante por columna')
print(valores_faltantes)

# verificación del formato de la columna salario
salario_incorrecto = df2[~df2['Salario'].str.replace('[^0-9.]', '', regex=True).str.isdigit()]
print('\nSalarios con formato incorrecto:')
print(salario_incorrecto)

# Validación y estandarización del formato fecha
df2['Fecha Ingreso'] = pd.to_datetime(df2['Fecha Ingreso'], errors='coerce', format='%Y-%m-%d')
print('\nDatos después de la estandarización de formato de fecha')
print(df2)

# Verificación de valores faltantes en la columna cargo
cargo_faltantes = df2[df2['Cargo'].isnull()]
print('\nCantidad de valores faltantes en la columna Cargo:')
print(cargo_faltantes)

 Identificación de valor faltante por columna
Nombre           0
Edad             1
Salario          0
Cargo            1
Fecha Ingreso    3
dtype: int64

Salarios con formato incorrecto:
  Nombre  Edad     Salario    Cargo Fecha Ingreso
3  María  45.0  cuatro mil  Gerente           NaT

Datos después de la estandarización de formato de fecha
  Nombre  Edad     Salario          Cargo Fecha Ingreso
0   Juan  28.0        3000       Analista    2021-01-15
1    Ana   NaN        4000        Gerente           NaT
2  Pedro  40.0        4500  Desarrollador    2022-07-01
3  María  45.0  cuatro mil        Gerente           NaT
4   Luis  38.0        5000       Analista           NaT
5  Carla  34.0        4000           None    2020-03-12

Cantidad de valores faltantes en la columna Cargo:
  Nombre  Edad Salario Cargo Fecha Ingreso
5  Carla  34.0    4000  None    2020-03-12



---

#### Parte 2.

**Ejercicio 1.**
Se requiere validar los datos: Precios de Productos, se tiene una lista de productos con los respectivos precios y se necesita validar que ningún precio sea negativo o nulo.

- Se requiere:
1. Crear un DataFrame con productos y precios.
2. Producto: Producto A, Producto B,Producto C,Producto D.
3. Precio:150, -25, 100, None.
4. Validar que todos los precios sean mayores o iguales a cero y no nulos.
5. Mostrar los productos con precios inválidos.

In [ ]:
# Datos

datos = {'Producto' : ['productoA', 'productoB', 'productoC', 'productoD'],
         'Precio': [150, -25, 100, None]}

df3 = pd.DataFrame(datos)
print(df3)

    Producto  Precio
0  productoA   150.0
1  productoB   -25.0
2  productoC   100.0
3  productoD     NaN

In [ ]:
# Validación de datos
df3['Validación Precio'] = df3['Precio'].apply(lambda x: 'válido' if pd.notnull(x) and x>0 else 'Inválido')
df3.head()

    Producto  Precio Validación Precio
0  productoA   150.0            válido
1  productoB   -25.0          Inválido
2  productoC   100.0            válido
3  productoD     NaN          Inválido



---

**Ejercicio 2.**
Se requiere validar los datos duplicados: Clientes en una Base de Datos, se tiene una lista de clientes donde algunos registros tienen el mismo ID y necesitas identificarlos.

Se requiere:
1. Crear un DataFrame con información de clientes.
2. ID Cliente:1, 2, 3, 2, 4.
3. Nombre: Ana, Luis, María, Luis, Carlos
4. Verificar si hay duplicados en la columna de ID del cliente.
5. Mostrar los registros duplicados.

In [ ]:
# Datos
datos = {'ID Cliente': [1, 2, 3, 2, 4],
         'Nombre': ['Ana', 'Luis', 'María', 'Luis', 'Carlos']}

df4 = pd.DataFrame(datos)
print(df4)

   ID Cliente  Nombre
0           1     Ana
1           2    Luis
2           3   María
3           2    Luis
4           4  Carlos

In [ ]:
print('\n Verificación de duplicados')
duplicados = df4[df4.duplicated(subset='ID Cliente', keep=False)]
print(duplicados)

 Verificación de duplicados
   ID Cliente Nombre
1           2   Luis
3           2   Luis



---

**Ejercicio 3.**
Se requiere tener seguridad en los datos: Encriptación y Desencriptación de Datos Sensibles, se tiene un número de tarjeta de crédito que deseas encriptar para protegerlo y luego desencriptarlo para el uso.

Se requiere:
1. Crear una cadena con datos sensibles (un número de tarjeta 1234-5678-9101-1121).
2. Encriptar esos datos utilizando una clave generada.
3. Desencriptar los datos y mostrar ambos (encriptado y desencriptado).

In [ ]:
from cryptography.fernet import Fernet

In [ ]:
num_tarjeta = '1234-5678-9101-1121'
print(num_tarjeta)

1234-5678-9101-1121

In [ ]:
#encriptación del número de tarjeta
clave = Fernet.generate_key()
cifrado = Fernet(clave)
num_tarjeta_encriptada = cifrado.encrypt(num_tarjeta.encode())
print('\nDatos encriptados')
print(num_tarjeta_encriptada)

num_tarjeta_desencriptada = cifrado.decrypt(num_tarjeta_encriptada).decode()
print('\nDatos desencriptados')
print(num_tarjeta_desencriptada)

Datos encriptados
b'gAAAAABnOjvMi70v4bA36pY9XZhBMzb6AruBjrZTCrfLph55uv2dghTfUg61yJoLqmcMrc4bibMziJdXzumcvUi0QSFdkQ6NWDDrAmRa6rSsjOEvPEIfPKQ='

Datos desencriptados
1234-5678-9101-1121